[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
flask = "*"
daiquiri = "*"
kafka-python = "*"
prometheus-flask-exporter = "*"
prometheus-client = "*"
faust = "*"

[dev-packages]
pylint = "*"
black = "*"
pytest = "*"

[requires]
python_version = "3.6"

[pipenv]
allow_prereleases = true
